@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
    display: flex;
    background-color: #7ebfb3;
    color: #194759;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    /*overflow: hidden;*/
    height: 100vh;
    position: relative;
}

h1 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}

p{
    padding: 0 20px;
}

.accordion {
  background-color: #ebf2f1;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #a7f2e4;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  background-color: #ebf2f1;
  max-height: 0;
  width: 80%;
  overflow: scroll;
  transition: max-height 0.2s ease-out;
}

button.re {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    border: 1px solid #194759;
    background-color: #194759;
    color: #ebf2f1;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
}

button.re:hover {
    letter-spacing: 2px;
}

button.re:active {
    transform: scale(0.95);
    letter-spacing: 0.9px;
    transition: 0.15s ease-in-out;
}
