@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* Global styles */
body {
    display: flex;
    background-color: #7ebfb3;
    color: #194759;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

/* Edit box styles */
.edit-box {
    background-color: #ebf2f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 80%;
    width: 868px;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    max-width: 100%;
    min-height: 500px;
}

/* Form styles */
form {
    background-color: #ebf2f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

/* Button styles */
button {
    position: relative;
    border-radius: 20px;
    border: 1px solid #194759;
    background-color: #194759;
    color: #ebf2f1;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
}

button:hover {
    letter-spacing: 3px;
}

button:active {
    transform: scale(0.95);
    letter-spacing: 0.9px;
    transition: 0.15s ease-in-out;
}

button:focus {
    outline: none;
}

/* Input styles */
input {
    background-color: #e0e0e0;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 300px;
}

.edit-buttons{
    display: flex;
}