@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
    box-sizing: border-box;
}

/* Set the styles for the body */
body {
    display: flex;
    background-color: #7ebfb3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

/* Set the styles for the textarea */
textarea {
    background-color: #e0e0e0;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

/* Set the styles for the form */
form {
    background-color: #ebf2f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 70%;
    width: 75%;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    max-width: 100%;
    min-height: 500px;
}

/* Set the styles for the label */
label {
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 15px;
    color: #194759;
    font-size: 30px;
    line-height: 45px;
}

/* Set the styles for the button */
button {
    position: relative;
    border-radius: 20px;
    border: 1px solid #194759;
    background-color: #194759;
    color: #ebf2f1;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
    width: 300px;
}

/* Set the hover effect for the button */
button:hover {
    letter-spacing: 3px;
}

/* Set the active effect for the button */
button:active {
    transform: scale(0.95);
    letter-spacing: 0.9px;
    transition: 0.15s ease-in-out;
}

/* Remove the focus outline for the button */
button:focus {
    outline: none;
}

/* Set the styles for the #ret element */
#ret {
    top: 0;
    right: 0;
    position: absolute;
}
